<app-userdashboard></app-userdashboard>
<!-- <div class="bg-[#F2F6FF] h-[90vh]">
    <div class="w-[100vw] flex flex-col justify-center items-center">
        <p class="p-[3px] text-[#5BD7B6] font-['Great_Vibes'] text-[2.25rem]">Write your review</p>
        <form class="flex flex-col justify-center">
            <input type="text" placeholder="YYYY-MM-DD" class="p-4 rounded-[10px] my-2 w-[40vw] border-gray-200 border-[0.5px] outline-none">
            <textarea cols="30" rows="10" class="p-4 my-4 w-[40vw] rounded-[10px] border-gray-200 border-[0.5px] outline-none"></textarea>
            <input type="submit" value="Submit Review" class="bg-[#4CAF50] p-4 rounded-[10px] text-white">
        </form>
    </div>
</div> -->
<div class="bg-[#F2F6FF] h-[90vh] flex justify-center items-center">
    <div class="w-[60%] text-center">
        <p class="p-[3px] text-[#5BD7B6] font-['Great_Vibes'] text-[2.25rem]">Write your review</p>
        <form class="flex flex-col items-center">
            <textarea cols="30" rows="10" class="p-4 my-4 w-[80%] rounded-[10px] border-gray-200 border-[0.5px] outline-none"></textarea>
            <input type="submit" value="Submit Review" class="bg-[#4CAF50] p-4 rounded-[10px] text-white w-[80%]">
        </form>
    </div>
</div>
