<!-- <div *ngFor="let welcomeData of welcomeDataList; let i = index" id="welcomesection" [@fadeInOut]="i === currentSlideIndex ? 'visible' : 'hidden'">
    <img [src]="welcomeData.imageUrl" alt="Welcome Image" class="background-image" />
    <div class="text-content">
        <p>{{ welcomeData.text }}</p>
        <h2>{{ welcomeData.heading1 }}</h2>
        <h6>{{ welcomeData.heading2 }}</h6>
    </div>
</div> -->
<!-- <c-carousel>
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let welcomeData of welcomeDataList">
      <img alt="{{slide.title}}" loading="lazy" src="{{welcomeData.image}}"/>
      <c-carousel-caption>
        <h3>{{welcomeData.text}}</h3>
        <h1>{{welcomeData.heading1}}</h1>
        <h3>{{welcomeData.heading2}}</h3>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel> -->

